<style>

</style>

<nav id="sidebar" class="" >
    <div class="sidebar-header" ng-init="vm.ShowView('users')">
        <h2>Menu</h2>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a class="active" ng-click="vm.ShowView('users')">Users</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('clients')">Clients</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('employees')">Employees</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('products')">Products</a>
        </li>
        <li>
            <a ng-click="vm.ShowView('purchases')">Purchases</a>
        </li>
    </ul>
</nav>